aiocache==0.11.1
aiofiles==0.8.0
aiohttp==3.8.1
anyio==3.5.0
arrow==1.2.2
beautifulsoup4==4.11.1
fontTools==4.33.3
httpx==0.22.0
imageio==2.18.0
Jinja2==3.1.2
loguru==0.6.0
lxml==4.8.0
nonebot==1.9.1
nonebot_plugin_htmlrender==0.0.5
numpy==1.22.3
opencv_python_headless==4.5.5.64
PicImageSearch==3.3.2
Pillow==9.1.1
psutil==5.9.0
pydantic==1.9.0
pyquery==1.4.3
requests==2.27.1
tinydb==4.7.0
typing_extensions==4.2.0
ujson==5.2.0
webdav4==0.9.7
yarl==1.7.2
